# Env
venv/
.env/
*.env
.venv

.idea/
*.iml

__pycache__/

# Dataset
*.csv
dataset/raw/*
dataset/temp/*
dataset/.cache/*
!dataset/dataset.csv
!dataset/dataset_v2_custom.csv

# Models
#*.pkl
*.h5
*.onnx

# Build
build/
dist/
